// Main Site Layout

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
        background: $paneBgColor;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    //width: 90%; // 231/2560*100 = 9,0234375
    margin-left: 9.0234375vw;
    margin-right: 9.0234375vw;
    max-width: $containerMaxWidth;
}

.card {
    background: $paneBgColor;
    box-shadow:  $boxShadowElevated;
    padding: $spacingY 12vw; // 285/16 = 17.8125rem
    
}