.footer {
    font-size: 0.875rem;
    padding: $spacingY 0;
    background-color: $grayLightest;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
