### Header
# Comment
src/posts/intro
src/posts/sanktpetersburg

node_modules
dist
.env

# Editor configs mm
.nova
.nova
.vscode
DS_store
__originals
__resources
__projects
__private
__drafts
__backup

# Local Netlify folder
.netlify

# Front matter CMS
.frontmatter
frontmatter.json
