---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ meta.title }}</title>
    <subtitle>{{ meta.description }}</subtitle>
    <link href="{{ meta.url }}/feed.xml" rel="self" type="application/atom+xml" />
    <link href="{{ meta.url }}" rel="alternate" type="text/html"/>
    <author>
        <name>{{ meta.title }}</name>
    </author>
    {% if collections.articles %}
    <updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
    {% endif %}
    <id>{{ meta.url }}/</id>
    {%- for article in collections.articles | reverse -%}
    {% set absoluteArticleUrl %}{{ article.url | url | absoluteUrl(meta.url) }}{% endset %}
        <entry>
            <title>{{ article.data.title }}</title>
            <link href="{{ absoluteArticletUrl }}"/>
            <updated>{{ article.date | rssDate }}</updated>
            <id>{{ absoluteArticleUrl }}</id>
            <content type="html"><![CDATA[
                {{ article.templateContent | htmlToAbsoluteUrls(absoluteArticleUrl) | safe }}
            ]]></content>
        </entry>
    {%- endfor -%}
</feed>